body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    margin: 0;    
}

.logo{
    display: flex;
    font-size: 30px;
    font-weight: bold;
}

.container{ 
    padding-top: 100px;
    padding-bottom:100px ;
}

.container,
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1F2937;
    color: white;
}

.title{
    font-size: 40px;
    font-weight: bold;
}

.subtext{
    font-size: 15px;
    font-weight: normal;
}

.button button{
    background-color: rgb(43, 170, 255);
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-weight: bold;
}

.imageinfo{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    padding-bottom: 100px;
}

.infohead{
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.info{
    border: 2px solid blue;
    border-radius: 2px;
    text-align: center;
}

.quote{
    text-align: center;
    background-color: #E5E7EB;
    padding: 50px;
    font-size: 25px;
}
.quoteby{
    font-size: 20px;
    font-weight: bold;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    margin: 70px 300px;
    background-color: #3883f6;
    border-radius: 6px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.box button{
    background-color: rgb(43, 170, 255);
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    background-color: #3883f6;
}

.submain{
    font-size: 17px;
    font-weight: normal;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    margin-top: auto;
}

.mainc{
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
}